extends layout/template.pug

block body
  div dakjsdlasldkjaskl
  pre#xxx xxx
  #vue-wrap.container
    h2 Rooms
    div(v-for="room,id in window.rooms")
      a.card(:href="'/room?room='+room").mb-2: .card-body
        .row
          .col-12
            h5.card-title {{ room }}
  script.
    function main() {
      //$("#xxx").text(JSON.stringify(data,null,4));

      window.vm = new Vue({
        el: '#vue-wrap',
        data: {
          window: window
        }
      })
    }