extends layout/template.pug

block body
  #vue-wrap.container
    h2 Hot Topics
    div(v-for="post in window.hottopics")
      a.card(:href="'/topic?id='+post.id").mb-2: .card-body
        .row
          .col-12
            h5.card-title {{ post.topic }}
            p.card-text {{ post.content.text }}
            p.card-text {{ post.content.like }} Like
  
    h2 Rooms
    div(v-for="room,id in window.rooms")
      a.card(:href="'/room?room='+room").mb-2: .card-body
        .row
          .col-12
            h5.card-title {{ room }}
  script.
    function main() {
      //$("#xxx").text(JSON.stringify(data,null,4));

      window.vm = new Vue({
        el: '#vue-wrap',
        data: {
          window: window
        }
      })
    }