extends layout/template.pug

block body
  div dakjsdlasldkjaskl
  pre#xxx xxx
  #vue-wrap.container
    a.btn.btn-success(href="/new") New topic
    div(v-for="post,id in window.data")
      a.card(:href="'/topic?id='+id").mb-2: .card-body
        .row
          .col-12
            h5.card-title {{ post.topic }}
            p.card-text {{ post.content.text }}
            p.card-text {{ post.content.like }} Like
  script.
    function main() {
      //$("#xxx").text(JSON.stringify(data,null,4));

      window.vm = new Vue({
        el: '#vue-wrap',
        data: {
          window: window
        }
      })
    }